<div class="h-auto bg-dark text-white-50 d-flex align-items-center justify-content-around footer">
	<div class="p-5">
		<img src="/Icons/logo-color-inverted.svg" alt="" />
	</div>
	<div>
		<a class="text-white-50 footer-link" href="/shoes/men">Men's Shoes</a>
	</div>
	<div>
		<a href="/shoes/women" class="text-white-50 footer-link">Women's Shoes</a>
	</div>
	<div class="d-flex flex-column">
		<a href="/shoes/puma" class="text-white-50 footer-link">Shop Puma</a>
		<a href="/shoes/nike" class="text-white-50 footer-link">Shop Nike</a>
		<a href="/shoes/newbalance" class="text-white-50 footer-link">Shop New Balance</a>
	</div>
	<div class="d-flex flex-column">
		<a href="/tos" class="text-white-50 footer-link">Terms of Service</a>
		<a href="/tou" class="text-white-50 footer-link">Terms of Usage</a>
		<a href="/privacy" class="text-white-50 footer-link">Privacy Policy</a>
	</div>
</div>
