<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"
			><img
				src="https://res.cloudinary.com/dynljtael/image/upload/v1653149771/shoe_store_app/logo_jtjqpk.svg"
				alt=""
				class="logo"
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/shoes/men">Men</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/shoes/women">Women</a>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Shop Brands
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="/shoes/nike">Nike</a></li>
						<li>
							<a class="dropdown-item" href="/shoes/newbalance">New Balance</a>
						</li>
						<li><a class="dropdown-item" href="/shoes/puma">Puma</a></li>
					</ul>
				</li>
				<% if(currentUser && currentUser.isAdmin){ %>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Admin Menu
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="/admin/newShoe">Create New Shoe</a>
						</li>
						<li>
							<a class="dropdown-item" href="/admin/editShoes">Edit Shoes</a>
						</li>
						<li>
							<a class="dropdown-item" href="/admin/orders">View Active Orders</a>
						</li>
						<li>
							<a class="dropdown-item" href="/admin/orders/all">View All Orders</a>
						</li>
					</ul>
				</li>
				<% } %>
			</ul>
			<% if(!currentUser) {%>
			<div class="login-wrapper me-3">
				<img
					src="https://res.cloudinary.com/dynljtael/image/upload/v1655950588/shoe_store_app/user-icon_xjhcfx.svg"
					alt=""
				/>
				<button class="btn login-btn">Login</button>
			</div>
			<div class="register-wrapper ms-3">
				<img
					src="https://res.cloudinary.com/dynljtael/image/upload/v1655950431/shoe_store_app/register-icon_q5uovo.svg"
					alt=""
				/>
				<button class="btn register-btn">Register</button>
			</div>
			<% } %> <% if(currentUser){ %>
			<ul class="nav-item navbar-nav me-5">
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdownMenuLink"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						<img
							src="https://res.cloudinary.com/dynljtael/image/upload/v1655950588/shoe_store_app/user-icon_xjhcfx.svg"
							alt=""
							class="me-2"
						/>

						<%= currentUser.firstName.toUpperCase() %>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="/orders">Your Orders</a></li>
						<li><a class="dropdown-item" href="/settings">Account Settings</a></li>
						<li><hr class="dropdown-divider" /></li>
						<li class="dropdown-item">
							<form action="/logout" method="post">
								<div class="me-3">
									<img
										src="https://res.cloudinary.com/dynljtael/image/upload/v1655950431/shoe_store_app/logout_a5lgpd.svg"
										alt=""
									/>
									<button class="btn register-btn" type="submit">Logout</button>
								</div>
							</form></li
						>
					</ul>
				</li>
			</ul>

			<% } %>
			<div class="nav-item">
				<button class="cart-button">
					<img
						src="https://res.cloudinary.com/dynljtael/image/upload/v1655950901/shoe_store_app/cart_lpcxz6.svg"
						alt=""
					/>
				</button>
			</div>
		</div>
	</div>
</nav>
