<% layout("layout/boilerplate") -%>
<main class="main-container container container-fluid">
	<div class="container-fluid mb-5">
		<div class="register-error"></div>
		<div class="home-page-main"> </div>
		<div class="d-flex flex-column align-items-center">
			<h1 class="my-3 fw-bolder">Explore your inner you!</h1>
			<div>
				<a href="/shoes/men" class="btn btn-dark btn-lg">Shop Men's Shoes</a>
				<a href="/shoes/women" class="btn btn-dark btn-lg">Shop Women's Shoes</a>
			</div>
		</div>
	</div>
	<div>
		<h2>Find the best style for you!</h2>
	</div>
	<div class="mt-5">
		<div class="container mb-5 d-flex scroll-x home-new-scroll-x">
			<div class="mb-2 me-3">
				<a
					class="card text-decoration-none text-black-50"
					style="width: 18rem"
					href="/shoes/62b489e3df0cca58b18ec8f8"
				>
					<img
						src="https://nb.scene7.com/is/image/NB/mvngobp5_nb_02_i?$pdpflexf2$&fmt=webp&wid=472&hei=472"
						class="card-img-top"
						alt="..."
					/>
					<div class="card-body">
						<h5 class="card-title">Fresh Foam X Vongo v5 </h5>
						<p class="card-text">Men's</p>
						<p class="card-text">$ 149.99</p>
					</div>
				</a>
			</div>
			<div class="mb-2 me-3">
				<a
					class="card text-decoration-none text-black-50"
					style="width: 18rem"
					href="/shoes/62b4988fa76479024a8754f4"
				>
					<img
						src="https://nb.scene7.com/is/image/NB/w880x11_nb_02_i?$pdpflexf2$&fmt=webp&wid=472&hei=472"
						class="card-img-top"
						alt="..."
					/>
					<div class="card-body">
						<h5 class="card-title">Fresh Foam 880v11 GTX </h5>
						<p class="card-text">Women's</p>
						<p class="card-text">$ 159.99</p>
					</div>
				</a>
			</div>
			<div class="mb-2 me-3 mh-100">
				<a
					class="card text-decoration-none text-black-50"
					style="width: 18rem"
					href="/shoes/62b498bfa76479024a875500"
				>
					<img
						src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_900,h_900/global/382558/01/sv01/fnd/PNA/fmt/png"
						class="card-img-top"
						alt="..."
					/>
					<div class="card-body">
						<h5 class="card-title">RS-X T3CH Craken Sneakers </h5>
						<p class="card-text">Women's</p>
						<p class="card-text">$ 120.00</p>
					</div>
				</a>
			</div>
			<div class="mb-2 me-3">
				<a
					class="card text-decoration-none text-black-50"
					style="width: 18rem"
					href="/shoes/62b485731200e0184037ad82"
				>
					<img
						src="https://nb.scene7.com/is/image/NB/m990gl5_nb_02_i?$pdpflexf2$&fmt=webp&wid=472&hei=472"
						class="card-img-top"
						alt="..."
					/>
					<div class="card-body">
						<h5 class="card-title">MADE in USA 990v5 Core </h5>
						<p class="card-text">Men's</p>
						<p class="card-text">$ 184.99</p>
					</div>
				</a>
			</div>
			<div class="mb-2 me-3">
				<a
					class="card text-decoration-none text-black-50"
					style="width: 18rem"
					href="/shoes/62b498d1a76479024a875506"
				>
					<img
						src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_900,h_900/global/383682/01/sv01/fnd/PNA/fmt/png"
						class="card-img-top"
						alt="..."
					/>
					<div class="card-body">
						<h5 class="card-title">Cruise Rider Rave Women's</h5>
						<p class="card-text">Women's</p>
						<p class="card-text">$ 85.00</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="home-page-four-block mb-5">
		<div class="d-flex home-page-four-block">
			<img
				src="https://res.cloudinary.com/dynljtael/image/upload/v1655950122/shoe_store_app/running_road_home_page_ob3yst.jpg"
				alt=""
				class="img-fluid img-responsive m-2"
			/>
			<img
				src="https://res.cloudinary.com/dynljtael/image/upload/v1655950123/shoe_store_app/running_road_night_home_page_mcw12t.jpg"
				alt=""
				class="img-fluid img-responsive m-2"
			/>
		</div>
		<div class="d-flex home-page-four-block">
			<img
				src="https://res.cloudinary.com/dynljtael/image/upload/v1655950125/shoe_store_app/running_track_home_page_hu9n2d.jpg"
				alt=""
				class="img-fluid img-responsive m-2"
			/>
			<img
				src="https://res.cloudinary.com/dynljtael/image/upload/v1655950120/shoe_store_app/running_stairs_home_page_gf97fw.jpg"
				alt=""
				class="img-fluid img-responsive m-2"
			/>
		</div>
	</div>
	<div class="my-5 row">
		<div class="col-lg-6 my-3">
			<div class="d-flex justify-content-center">
				<h2>Shop your favorite brands!</h2>
			</div>
			<div class="d-flex justify-content-center">
				<a href="/shoes/nike" class="btn btn-secondary btn-lg mx-2">Nike</a>
				<a href="/shoes/newbalance" class="btn btn-secondary btn-lg mx-2">New Balance</a>
				<a href="/shoes/puma" class="btn btn-secondary btn-lg mx-2">Puma</a>
			</div>
		</div>
		<div class="col-lg-6 my-3">
			<div class="d-flex justify-content-center">
				<h2>Get all of your favorite shoes!</h2>
			</div>
			<div class="d-flex justify-content-center">
				<a href="/shoes/men" class="btn btn-primary btn-lg mx-2">Shop Men's Shoes</a>
				<a href="/shoes/women" class="btn btn-primary btn-lg mx-2">Shop Women's Shoes</a>
			</div>
		</div>
	</div>
</main>
<%- include("./partials/cart") %>
