<% layout("layout/boilerplate") -%>
<main class="main-container">
	<img src="../shoe_images/banner_image.jpg" alt="" class="banner-image" />
	<h1>Athletic Footware For Everyone</h1>
</main>
<%- include("./partials/cart") %>
