<%- layout("layout/boilerplate") %>

<div class="vw-100">
	<div class="d-flex flex-column align-items-center">
		<h1>Terms of Usage</h1>
		<hr />
		<h3
			>All of the shoe images used on this site are the property of the repective shoe's
			site.</h3
		>
		<h3>I do <b>NOT</b> own any of the shoe images on this site!</h3>
		<h3>I am not using the images for any financial gain purposes!</h3>
		<h3>I am not a lawyer nor do I have one so please don't sue me!</h3>
	</div>
</div>
