<html lang="en" style="margin: 0">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body style="margin: 0">
		<div class="container" style="width: auto; margin: 10px; min-height: 100vh">
			<div
				class="header"
				style="
					margin: auto;
					text-align: center;
					background: url('https://res.cloudinary.com/dynljtael/image/upload/v1653149791/shoe_store_app/shoes_toss_eepkjh.jpg');
					background-size: cover;
					height: 50vh;
				"
			>
				<header style="margin: 0">
					<img
						src="https://res.cloudinary.com/dynljtael/image/upload/v1653149771/shoe_store_app/logo_jtjqpk.svg"
						alt
						class="logo"
						style="margin: 0; max-height: 50px; max-width: 50px"
					/>
				</header>
				<div
					class="header-content"
					style="
						margin: 0;
						height: 100%;
						align-items: center;
						margin-bottom: 10px;
						display: inline-block;
					"
				>
					<h1 style="margin: 0 auto">Welcome</h1>
					<div style="margin: 150px auto 20px auto">
						<button
							class="btn"
							style="
								margin: 0;
								height: 50px;
								width: 125px;
								background: transparent;
								cursor: pointer;
								color: white;
								border: white solid 1px;
								margin-bottom: 30px;
							"
							>Shop Men's Shoes</button
						>
						<button
							class="btn"
							style="
								margin: 0;
								height: 50px;
								width: 125px;
								background: transparent;
								cursor: pointer;
								color: white;
								border: white solid 1px;
								margin-bottom: 30px;
							"
							>Shop Women's Shoes</button
						>
					</div>
				</div>
			</div>

			<p style="margin: 10px 5px">Hello,</p>
			<p style="margin: 10px 5px"
				>Thank you for choosing <a href="#" style="margin: 0">NotReallyAShoeStore.com</a> for
				all of your shoe needs!</p
			>
			<p style="margin: 10px 5px">We are a site that does not sell shoes nor will we ever.</p>
			<p style="margin: 10px 5px"
				>It is a proof of concept site only and should not be taken as a real shoe store!</p
			>
			<p style="margin: 10px 5px">Thank you for signing up! I hope you enjoy your stay!</p>
			<div style="margin: 0">
				<h4 style="margin: 0">Contact info: </h4>
				<p style="margin: 10px 5px">Kyland Evans</p>
				<p style="margin: 10px 5px">(304)-231-7163</p>
				<a href="mailto: kylandevans@gmail.com" style="margin: 0">kylandevans@gmail.com</a>
			</div>
		</div>
		<footer
			class="footer"
			style="
				margin: 0;
				background-color: rgba(210, 210, 210, 0.765);
				display: flex;
				align-items: center;
			"
		>
			<img
				src="https://res.cloudinary.com/dynljtael/image/upload/v1653149771/shoe_store_app/logo_jtjqpk.svg"
				alt
				class="logo me-5"
				style="margin: 0; max-height: 50px; max-width: 50px; margin-right: 20px"
			/>
			<a href="#" style="margin: 0">Go To Site</a>
		</footer>
	</body>
</html>
